/* CSS Document */
@font-face {
    font-family: 'Chakra Petch';
    src: url('Fonts/ChakraPetch-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('Fonts/ChakraPetch-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('Fonts/ChakraPetch-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('Fonts/ChakraPetch-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('Fonts/ChakraPetch-Bold.ttf') format('truetype');
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    background-image: url("Images/background-edited.png");
    background-size: cover;
    font-family: 'Chakra Petch', sans-serif;
    display: flex;
    flex-direction: column;
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("Images/background-edited.png");
    background-size: cover;
    z-index: -1;
}

.background-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(21,52,56,0.50);
    pointer-events: none;
}

header {
    width: 100%;
    padding: 0.5% 0;
    margin: 0;
    position: sticky;
    top: 0;
    background-color: #010a0b;
    z-index: 1000;
    font-size: 1.2rem;
    font-weight: bold;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1%;
}

.nav .logo {
    max-height: 100px;
    width: auto;
}

.nav-items {
    display: flex;
    gap: 10px;
    list-style: none;
}

.nav-items li {
    margin: auto;
    padding: 0;
}

.nav-items li a {
    display: flex;
    align-items: center;
    color: #05545F;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 10px;
    text-decoration: none;
    height: 100%;
    line-height: 60px;
    transition: background-color 0.3s ease;
}

.nav-items li a img {
    height: 40px;
    width: 40px;
    margin-left: 8px;
    object-fit: contain;
    background-color: transparent;
}

.nav li a:hover {
    background-color: transparent;
    color: #7bb2a0;
}

.nav li a:hover img {
    filter: brightness(0) saturate(100%) invert(79%) sepia(2%) saturate(5188%) hue-rotate(113deg) brightness(90%) contrast(63%);
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: #05545F;
    margin: 4px 0;
    transition: 0.4s;
}

main {
    flex: 2;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    z-index: 0;
}

.company {
    display: flex;
    align-items: center;
    min-height: 80vh;
    flex-wrap: wrap;
}

.CAP {
    background-color: rgba(5,84,95,0.75);
    padding: 3%;
    width: 50%; /* Adjust width as needed */
    font-size: 1.375rem;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CAP h1 {
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
}

.CAP_Picture {
    width: 50%; /* Adjust width as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}

.CAP_Picture img {
    max-width: 100%;
    height: auto;
}

.game {
    text-align: center;
    background-color: black;
    color: aliceblue;
}

.game p {
    padding: 0px 20px;
}

.game img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
}

footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #010a0b;
    color: aliceblue;
    position: relative;
}

@media only screen and (max-width: 768px) {
    .nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-items {
        display: none;
        position: absolute;
        top: 100px;
        right: 0;
        background-color: #010a0b;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-items li {
        width: 100%;
    }

    .nav-items li a {
        padding: 10px;
        text-align: left;
        width: 100%;
    }

    .nav-items.active {
        display: flex;
    }
}
