/* CSS Document */
@font-face {
    font-family: 'Chakra Petch';
    src: url('Fonts/ChakraPetch-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('Fonts/ChakraPetch-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('Fonts/ChakraPetch-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('Fonts/ChakraPetch-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('Fonts/ChakraPetch-Bold.ttf') format('truetype');
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%; /* Ensure the body and html take full height */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
    background-image: url("Images/background-edited.png");
    background-size: cover;
	font-family: 'Chakra Petch', sans-serif;
	/*font-family: "Chakra Petch", "Chakra Petch Light", "Chakra Petch Medium", "Chakra Petch SemiBold", "Chakra Petch Bold";*/
    flex-direction: column; /* Stack content vertically */
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("Images/background-edited.png");
    background-size: cover;
    z-index: -1; /* Ensure it's below all other content */
}

.background-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(21,52,56,0.50); /* Semi-translucent grey */
    pointer-events: none; /* Avoid interaction */
}

header {
    width: 100%;
    padding: 20px 0;
    margin: 0;
    position: sticky;
    top: 0;
    background-color: #010a0b;
    z-index: 1000;
    font-size: 120%;
    font-weight: bold;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    max-width: 100%; /* Adjust to your preferred width */
    margin: 0 auto; /* Center the nav within the header */
    padding: 0 20px; /* Add some padding if needed */
}

.nav .logo {
    max-height: 100px;
    width: auto;
}

.nav-items {
    display: flex;
    gap: 10px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav li {
    list-style: none;
    margin: auto;
    padding: 0;
}

.nav li a {
    display: flex;
    align-items: center;
    color: #05545F;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 10px;
    text-decoration: none;
    height: 100%;
    line-height: 60px;
    transition: background-color 0.3s ease;
}

.nav li a img {
    height: 40px;
    width: 40px;
    margin-left: 8px;
    object-fit: contain;
    background-color: transparent;
}

.nav li a:hover {
    background-color: transparent;
    color: #7bb2a0;
}

.nav li a:hover img {
    filter: brightness(0) saturate(100%) invert(79%) sepia(2%) saturate(5188%) hue-rotate(113deg) brightness(90%) contrast(63%);
}

main {
    flex: 1; /* Allow content to take up available space */
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
	z-index: 0; /* Ensure it stays below header */
}

.company {
	display: flex;
	align-items: center;
	min-height: 960px;
}

.CAP {
	background-color: rgba(5,84,95,0.75);
	padding: 40px;
	font-size: 24px;
    color: aliceblue;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.CAP h1 {
    font-weight: bold;
	font-size: 300%;
	align-content: center;
}

.CAP_Picture {
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.CAP_Picture img {
	max-width: 100%;
	height: auto;
}

.game {
	text-align: center;
	background-color: black;
	color: aliceblue;
}

.game p {
    padding: 0px 20px; /* Remove any padding */
}

.game img {
    width: 100%; /* Make the image span the full width of its container */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove any gaps below the image caused by inline-block behavior */
    margin: 0; /* Remove any default margins */
}


footer {
    width: 100%; /* Ensure footer takes full width */
    text-align: center;
    padding: 20px;
    background-color: #010a0b;
    color: aliceblue;
    position: relative; /* Part of the normal page flow */
}